<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="">
      <div class="container flex">
        <a class="home" href="/"> Home </a>
        <span>
          <button class="btn">
            <a href="#"> Add News Feed </a>
          </button>
        </span>
      </div>
    </header>
    <main>
      <form action="/news" method="POST" class="form">
        <h3>All News Feed</h3>
        <input
          type="text"
          name="title"
          class="form-control"
          placeholder="Add Title"
        />
        <textarea
          class="form-textarea"
          name="description"
          rows="4"
          placeholder="Add Description"
        ></textarea>
        <input
          type="text"
          name="author"
          class="form-control"
          placeholder="username"
        />
        <div>
          <button type="submit">Submit</button>
        </div>
      </form>
    </main>
  </body>
</html>
