<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div>
      <header class="">
        <div class="container flex">
          <a class="home" href="/"> Home </a>
          <span>
            <button class="btn">
              <a href="/news/new"> Add News Feed </a>
            </button>
          </span>
        </div>
      </header>
      <main>
        <div>
          <h2 class="text">News Feed App</h2>
        </div>
        <button class="btn center">
          <a href="/news"> Go to News Feed </a>
        </button>
      </main>
    </div>
  </body>
</html>
